<div class="container-fluid">
    <div class="row pb-5">
        <div class="col-12">
            <h1 class="text-primary text-center">Select a Category & Start Your Quiz!</h1>
        </div>
        <!-- HTML Quiz Section -->
        <div class="row pt-5 d-flex flex-row align-items-center justify-content-center">
            <!-- Left Side: Image Card -->
            <div class="col-md-5 col-sm-12">
                <div class="card shadow-lg rounded">
                    <img src="/assets/html-image.webp" class="img-fluid rounded">
                </div>
            </div>

            <!-- Right Side: Text -->
            <div class="col-md-5 col-sm-12 p-4 fs-3">
                <div class="d-flex flex-column gap-3">
                    <div>
                       <strong> HTML is the backbone of the web, giving structure and meaning to every page. </strong>Test your HTML knowledge with this quiz!                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" routerLink="/html/quiz/questions">Play</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- CSS Quiz Section -->
        <div class="row pt-5 d-flex flex-row align-items-center justify-content-center">
            <!-- Left Side: Text -->
            <div class="col-md-5 col-sm-12 p-5 fs-3">
                <div class="d-flex flex-column gap-3">
                    <div>
                        <strong> Think of CSS as the style expert of a website— </strong>beautiful, responsive, and elegant. Take the quiz and see how well you know the basics of CSS!"
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" routerLink="/css/quiz/questions">Play</button>
                    </div>
                </div>
            </div>

            <!-- Right Side: Image Card -->
            <div class="col-md-5 col-sm-12">
                <div class="card shadow-lg rounded">
                    <img src="/assets/css-image.jpg" class="img-fluid rounded">
                </div>
            </div>
        </div>


        <!-- Java Script Quiz Section -->
        <div class="row pt-5 d-flex flex-row align-items-center justify-content-center">

            <!-- Right Side: Image Card -->
            <div class="col-md-5 col-sm-12">
                <div class="card shadow-lg rounded">
                    <img src="/assets/java-script-image.jpg" class="img-fluid rounded">
                </div>
            </div>
            <!-- Left Side: Text -->
            <div class="col-md-5 col-sm-12 p-5 fs-3">
                <div class="d-flex flex-column gap-3">
                    <div>
                       <strong> Think of JavaScript as the brain of a website— </strong>dynamic, interactive, and powerful. Take the quiz and see how well you know the basics of JavaScript. </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" routerLink="/java-script/quiz/questions">Play</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row pt-5 text-center">
            <div class="c0l-12">
                <button type="button" class="btn btn-primary" routerLink="/home">Go To Home</button>

            </div>
        </div>
    </div>
</div>