<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <section class="hero">
                <div class="hero-text">
                    <h1>The online quiz maker that's simple, fun, and knowledgeable. Let's play. </h1>
                    <button type="button" class="btn btn-light mt-5">Play Quiz</button>                    </div>
            </section>
        </div>
    </div>
</div> -->


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <section class="hero">
                <div class="overlay"></div> <!-- Added Overlay -->
                <div class="hero-text">
                    <h1>Challenge Your Mind, Test Your Knowledge! Are You Ready for the Ultimate Quiz?</h1>
                    <button type="button" class="btn btn-primary mt-5 fs-3" routerLink="/quiz/instructions">Play Quiz</button>
                </div>
            </section>
        </div>
    </div>
</div>